
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond);
@import url(https://fonts.googleapis.com/css?family=Meddon);

body {
	
text-align: center;

}
header {
background: url("../images/blue-sea-ocean.jpg") no-repeat;
background-size: cover;
padding: 200px 0;

}
section { 
    background: #B0E3FB;
    font-family: 'Cormorant Garamond';

}
h1, {
    color:#B0E3FB;
    font-family: 'Cormornant Garamond'
    font-size:60px;
}
p {
	color: black;
	font-family: 'Cormorant Garamond';
	}
	ul {
    text-align: center;
    width: 150px;
    margin: auto;
    font-family: 'Cormorant Garamond';
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix: after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}